@model PersonManager.UI.Models.PersonModel

<div class="modal fade" id="personEditModal" tabindex="-1" aria-labelledby="personModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="personModalLabel">Person Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div><input type="hidden" value="@Model.Id" name="id" /></div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name</label>
                        <input type="text" class="form-control" value="@Model.Name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Surname</label>
                        <input type="text" class="form-control" value="@Model.Surname" name="surname">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Company</label>
                        <input type="text" class="form-control" value="@Model.Company" name="company">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="PersonUpdate.PersonEdit()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<script src="~/page/person/edit.js"></script>
